electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
shamefully-hoist=true
# Allow electron and esbuild to run post-install scripts (required to download binaries)
ignore-scripts=false
